<div id="<%= dom_id settings %>">
  <p>
    <strong>Static temp factor:</strong>
    <%= settings.static_temp_factor %>
  </p>

  <p>
    <strong>Dynamic temp factor:</strong>
    <%= settings.dynamic_temp_factor %>
  </p>

</div>
