<div id="<%= dom_id temp_monitor %>">
  <p>
    <strong>Upper limitf:</strong>
    <%= temp_monitor.upper_limitf %>
  </p>

  <p>
    <strong>Lower limitf:</strong>
    <%= temp_monitor.lower_limitf %>
  </p>

</div>
