<p style="color: green"><%= notice %></p>

<h1>Temp monitors</h1>

<div id="temp_monitors">
  <% @temp_monitors.each do |temp_monitor| %>
    <div style="border: solid 1px gray; padding: 8px">
      <%= render temp_monitor %>
      <p>
        <%= link_to "Edit this temp monitor", edit_temp_monitor_path(temp_monitor) %>
      </p>
    </div>
    <br/>
  <% end %>
</div>

<%= link_to "New temp monitor", new_temp_monitor_path %>
<div style="margin-bottom: 8px"></div>
