<p style="color: green"><%= notice %></p>

<h1>Temp monitors</h1>

<div id="temp_monitors">
  <% @temp_monitors.each do |temp_monitor| %>
    <%= render temp_monitor %>
    <p>
      <%= link_to "Show this temp monitor", temp_monitor %>
    </p>
  <% end %>
</div>

<%= link_to "New temp monitor", new_temp_monitor_path %>
