<h1>Temperature Readings</h1>


<table>
  <thead>
    <tr>
      <th>Temperature (F)</th>
      <th>Time</th>
      <th>Raw time</th>
    </tr>
  </thead>
  <tbody>
  <% @temp_readings.each do |temp_reading| %>
    <tr>
      <td><%= number_to_human(temp_reading.tempf) %></td>
      <td><%= time_ago_in_words(temp_reading.created_at) + ' ago' %></td>
      <td><%= temp_reading.pretty_timestamp %></td>
    </tr>
  <% end %>
  </tbody>
</table>
